header {
    display: flex;
    align-items: center;
    background: white;
    height: 70px;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
}
header .logo {
    background: no-repeat;
    left: 20px;
    height: 100%;
}

#api_status {
    display: flex;
    justify-content: flex-end;
	background-color: #CCCCCC;
	height: 40px;
	width: 40px;
    margin-left: auto;
	margin-right: 30px;
	border-radius: 100%;
}

#api_status.available {
	background-color: pal;
}